%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover_image}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating:
          = @video.rating
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="#{@video.video_url}") Watch Now
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn' unless current_user.queued_video?(@video)

%section.reviews.container
  .row
    .span10.offset1
      = form_for [@video, Review.new] do |f|
        %fieldset
          %label Rate this video
          = f.select :rating, options_for_video_reviews(), include_blank: true
          %br
          %br
          %label Write Review
          = f.text_area :description, rows: 6, cols: 100, class: "span6"
          %fieldset.actions.clearfix
            %input(type="submit" value="Submit" class="btn")
            = link_to "Cancel", @video
      %header
        %h3= "User Reviews (#{@reviews.count})"
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .span2
                %span Rating: #{review.rating} / 5
                %p by 
                = link_to review.user.full_name, review.user
              .span8
                %p= review.description
